name: docker-pipeline-Sakthi
on: push
jobs:
  docker-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print your Register Number
        run: echo "Hello World - 22it041"
        
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Docker Build
        run: docker build -t bhuvi1318/ml-model-22it041 .

      - name: Docker Images
        run: docker images

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker Push
        run: docker push -t bhuvi1318/ml-model-22it041

       
        
        
